flask
flask-socketio
edge-tts
SpeechRecognition
numpy
google-generativeai
requests
python-dotenv
gunicorn
eventlet
cryptography
pyngrok
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
grpcio
grpcio-status
aiohttp
aiosignal
simple-websocket
pydantic